fastapi
uvicorn
pydantic
google-genai
google-api-python-client
yt-dlp
pytubefix
spotdl
python-dotenv
pandas
openpyxl
python-multipart
thefuzz
python-Levenshtein
mutagen
pathvalidate
sqlalchemy
bgutil-ytdlp-pot-provider