.shiny-text {
    color: #dfb2ff;
    /* Using a subtle purple tint for EasyMusic */
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.9) 50%,
            rgba(255, 255, 255, 0) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 3s linear infinite;
    text-shadow: 0 0 10px rgba(157, 78, 221, 0.3);
}

.shiny-text.disabled {
    animation: none;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}